<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MazeMasterJS - Admin</title>

    <!-- Fonts  / Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />

    <!-- jQuery / jQueryUI-->
    <link rel="stylesheet" href="http://mazemasterjs.com/media/js_static/jquery-ui-1.12.1/jquery-ui.css" />
    <script src="http://mazemasterjs.com/media/js_static/js.cookie.min.js"></script>
    <script src="http://mazemasterjs.com/media/js_static/jquery-3.4.1.min.js"></script>
    <script src="http://mazemasterjs.com/media/js_static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/js/teamEditor.js"></script>

