    <title>MazeMasterJS - Top Scores</title>

    <!-- MazeMaster Stuff -->
    <script src="/js/scoreboard.js"></script>
    <link href="/css/scoreboard.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
