    <title>MazeMasterJS - Team Editor</title>
    <!-- MazeMaster Stuff -->
    <script src="/js/adminEditors.js"></script>
    <link href="/css/team-editor.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
