<select id="selTeam" required>
  <option value="" disabled hidden selected>Select a Team</option>

  <% teams.forEach(function(team) { %>

    <% if (team.id == curTeam.id) { %>
        <option value="<%=team.id%>" selected><%=team.name%></option>
    <% } else { %>
        <option value="<%=team.id%>"><%=team.name%></option>
    <% } %>
  <% }); %>
</select>
