    <title>MazeMasterJS - User Editor</title>

    <!-- MazeMaster Stuff -->
    <script src="/js/adminEditors.js"></script>
    <link href="/css/user-editor.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
